.button{
    font-size: 1.5em;
    padding: 0.7em 0.5em;
    border-radius: 0.3em;
    width: 180px;
    text-transform: uppercase;
    background-color: var(--wh-1);
    color: var(--tm-2);
    font-weight: bold;
}